* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle at bottom center, #0000aa, #fff);
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    height: 30rem;
    background-color: #4c41e088;
    border: 0.5px solid #ffffffa2;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
}
.conteiner:hover{
    transform: translateY(-5px);
    box-shadow: 1px 2px 3px #000;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

h1 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 70%;
    padding: 8px 3px;
    border: none;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
}
input:hover{
    box-shadow: 1px 2px 2px #000 ;
    transform: translateY(-5px);
}

button{
    padding: 9px 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

label{
    width: 70%;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px
}
.inserir{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin: 10px auto;
}